numpy
pyarrow
pandas
polars

catboost
scikit-learn
implicit

wandb
torch
transformers
torchmetrics

matplotlib
seaborn
plotly

beautifulsoup4
requests
xlwt
xlsxwriter
openpyxl

jupyter
IPython

category-encoders
joblib

geopy
scipy
dask

geopandas
tqdm
bottleneck